<!-- <div *ngIf="rental">
  <p>{{ rental.id }}</p>
  <p>{{ rental.title }}</p>
  <p>{{ rental.color }}</p>
  <p>{{ rental.city }}</p>
  <p>{{ rental.type }}</p>
  <p>{{ rental.description }}</p>
  <p>{{ rental.hourRate }}$</p>
</div> -->
<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6"><img src="{{ rental.image }}" alt="" /></div>
      <div class="col-md-6"><car-map [location]="rental.city"></car-map></div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <h2 class="rental-type {{ rental.type }}">{{ rental.type }}</h2>
          <h1 class="rental-title">{{ rental.title | ucwords }}</h1>
          <h2 class="rental-city">{{ rental.city | ucwords }}</h2>
          <div class="rental-color-info">
            <span><i class="fa fa-building"></i>{{ rental.color }} Color</span>
          </div>
          <p class="rental-description">{{ rental.description }}</p>
          <hr />
        </div>
      </div>
      <div class="col-md-4">
        <car-rental-detail-booking
          [price]="rental.hourRate"
        ></car-rental-detail-booking>
      </div>
    </div>
  </div>
</section>
