<agm-map
  (mapReady)="mapReadyHandler()"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="13"
>
  <agm-circle
    *ngIf="!isPositionError && lat && lng"
    [latitude]="lat"
    [longitude]="lng"
    [radius]="800"
    [fillColor]="'#7579ec'"
    [fillOpacity]="0.4"
  ></agm-circle>
  <agm-info-window
    *ngIf="isPositionError"
    [latitude]="0"
    [longitude]="0"
    [maxWidth]="300"
    [isOpen]="true"
  >
    oops,there is some issue with this location, for more please contact We are
    very sorry for inconviniance
  </agm-info-window>
</agm-map>
